---
import Layout from '../layouts/Layout.astro';
---
<Layout
  title="About — Leather and Paint"
  description="We handmake leather goods in NYC. Sometimes we paint them, sometimes we don't."
  canonicalPath="/about">  
  <div class="site-wrapper">
    <div class="site-main">
      <div class="inner">
        <h2 class="text-style-1">About</h2>
        <p class="text-style-2">
          <span class="p">We handmake leather goods in NYC. Sometimes we paint them, sometimes we don't. We love doing it and hope you can enjoy the products, the images, the process.</span>
          <span class="p">We can also do custom items, depending on the request.</span>
        </p>
      </div>
    </div>
  </div>
</Layout>